//?MAIN COLORS
$darkblue: #23374d;
$blue: #1089ff;
$lightWhite: #e5e5e5;
$white: #eeeeee;
$black: #292d32;

//?SECONDARY COLORS
$darkOne: #0b7ae8;
$darkTwo: #1473cf;
$red: #e91414;
$green: #50c878;
$grayOne: #d9d9d9;
$wwhite: #fff;
$grayTwo: #d6d6d6;
$heroBlue: rgb(16, 137, 255, 0.8);
$heroOne: rgb(35, 55, 77, 0.6);
$heroTwo: rgb(41, 45, 50, 0.5);
$heroWhite: rgb(255, 255, 255, 0.8);
$heroService: rgb(0, 0, 0, 0.8);
